body {
    font-family: 'Hepta-Slab', sans-serif;
}

h1 {
    color: #4B0082;
}

h1 > i {
    padding-left: 30px;
}

h1 > button {
    float: right;
    margin: 10px;
    font-size: 75%;
    border-radius: 10px;
    color: white;
    background-color: #4B0082;
}

#my-sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
 }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-home h2 {
    text-align: center;
    padding-left: 150px;
}

.dropbtn {
    border-radius: 10px;
}

.menu {
    border: 1px solid purple;
    margin: 20px;
    padding: 0px;
}

.menu-content {
    height: 150px;
}

.menu-img {
    height: 150px;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.menu-img > h3 {
    padding-top: 110px;
    padding-left: 5px;
    text-shadow: 0px 3px 6px #841BEE;
}

#hamburger {
    background-image: url("img/hamburger.jpeg");
}

#pancakes {
    background-image: url("img/pancakes.jpg");
}

#milkshakes {
    background-image: url("img/milkshake.png");
}

#chicken {
    background-image: url("img/chicken.jpeg");
}
